<div class="container" >
    <h5>Crud de Producto</h5>

    <div class="col-md-23" style="margin-top: 3%">


        <div class="row" style="height: 80px">
            <div class="col-md-4">
                <input [(ngModel)] = "filtro"  class="form-control"  id="id_txt_filtro" name="filtro" placeholder="Ingrese el nombre" type="text" maxlength="30" />
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" id="id_btn_filtrar" style="width: 150px" (click)="consulta()">Filtrar</button>
            </div>
            <div class="col-md-2">
                <button  type="button" data-toggle='modal' data-target="#idModalRegistrar" class='btn btn-success' style="width: 150px">Registrar</button>
            </div>
        </div>

        <div class="row" style="margin-top: 3%" >
            <table class="table table-hover" >
                <thead style="background-color: burlywood">
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">nombre</th>
                        <th class="text-center">Serie</th>
                        <th class="text-center">Durabilidad</th>
                        <th class="text-center">Fecha Vigencia</th>
                        <th class="text-center">Stock</th>
                       <th class="text-center">Precio</th>
                        <th class="text-center">Marca</th>
                        <th class="text-center">Pais</th>
                        <th class="text-center">Estado</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="fondo" *ngFor = "let aux of productos" >
                         

              <td class="text-center">{{ aux.idProducto }}</td>
              <td class="text-center">{{ aux.nombre }}</td>   
              <td class="text-center">{{ aux.serie }}</td>  
              <td class="text-center">{{aux.durabilidad}}</td> 
                <td class="text-center">{{aux.fechaVigencia}}</td> 
              <td class="text-center">{{ aux.stock }}</td>
              <td class="text-center">{{aux.precio}}</td>
              <td class="text-center">{{ aux.marca!.nombre}}</td>  
              <td class="text-center">{{ aux.pais!.nombre}}</td> 
              <td class="text-center">{{ aux.estado==1?'Activo':'Inactivo' }}</td> 
             
            <td><button type="button" style="width: 90px" class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#idModalActualizar" >Editar</button></td>
            <td><button type="button" style="width: 90px" class="btn btn-danger btn-sm"  data-toggle="modal" data-target="" >Eliminar</button></td>
  
          </tr>
          

            </tbody>
               

            </table>


        </div>
            </div>
        </div>
    


    <div class="modal fade"  id="idModalRegistrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog" style="max-width: 70%;">
            <div class="modal-content" >

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registro de Docente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">

<form class="content"  (ngSubmit)="insertado()">
    <div class="submit-form" >
  
         <div class="row">
            <div class="col-lg-12">
                <h6>Registrar Producto </h6>
            </div>
        </div>
  
        <div class="row" style="margin-top: 3%">
                <div class="col-lg-6">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nombre"  [(ngModel)]="producto.nombre"  />
                </div>
            
                <div class="col-lg-3">
                    <label for="serie">Serie</label>
                    <input type="text" class="form-control" name="serie" id="serie" maxlength="10"  [(ngModel)]="producto.serie"/>
                </div>

                <div class="col-lg-3">
                        <label for="durabilidad">Durabilidad</label>
                        <input type="text" class="form-control" name="durabilidad" id="durabilidad" maxlength="10"  [(ngModel)]="producto.durabilidad"  />
                </div>
         </div>
  
        <div class="row" style="margin-top: 3%">
        <div class="col-lg-3">
            <label for="fechavigencia">Fecha de Vigencia</label>
            <input type="date"    class="form-control" id="fechavigencia"  name="fechavigencia" maxlength="10"  [(ngModel)]="producto.fechaVigencia" />
        </div>
    
        <div class="col-lg-3">
                <label for="precio">Precio</label>
                <input type="text"  class="form-control" id="precio"  name="precio" maxlength="10" [(ngModel)]="producto.precio" />
            </div>

            <div class="col-lg-3">
                <label for="stock">Stock</label>
                <input type="text"  class="form-control" id="stock"  name="stock" maxlength="40" [(ngModel)]="producto.stock" />
            </div>

            <div class="col-lg-3">
                <label for="marca">Marca</label>
                <select  id="marca" name="marca" class="form-control" [(ngModel)]="producto.marca!.idMarca">
                    <option value="-1"> [Seleccione] </option>   
                    <option *ngFor="let aux of marca" value="{{aux.idMarca}}">
                        {{aux.nombre}}
                    </option>

                </select>
            </div>

            <div class="col-lg-3">
                <label for="pais">Pais</label>
                <select  id="pais" name="pais" class="form-control" [(ngModel)]="producto.pais!.idPais">
                    <option value="-1"> [Seleccione] </option>   
                    <option *ngFor="let aux of pais" value="{{aux.idPais}}">
                        {{aux.nombre}}
                    </option>

                </select>
            </div>

        </div>
    </div> 
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_reg_cerrar" style="width: 100px;">Close</button>
        <div class="form-group text-center">
            <div class="col-lg-12">
                <button id="id_reg_registra"  class="btn btn-success form-control"style="width: 100px;">Registrar</button>
            </div>
        </div>
    </div>
  
     </form>
  
    </div>



</div>
</div>
</div>

<div class="modal fade"  id="idModalActualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 70%;">
        <div class="modal-content" >

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar de Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">

<form class="content"  (ngSubmit)="insertado()">
<div class="submit-form" >

     <div class="row">
        <div class="col-lg-12">
            <h6>Actualiza Producto </h6>
        </div>
    </div>

    <div class="row" style="margin-top: 3%">
            <div class="col-lg-6">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="nombre"  [(ngModel)]="producto.nombre"  />
            </div>
        
            <div class="col-lg-3">
                <label for="serie">Serie</label>
                <input type="text" class="form-control" name="serie" id="serie" maxlength="10"  [(ngModel)]="producto.serie"/>
            </div>

            <div class="col-lg-3">
                    <label for="durabilidad">Durabilidad</label>
                    <input type="text" class="form-control" name="durabilidad" id="durabilidad" maxlength="10"  [(ngModel)]="producto.durabilidad"  />
            </div>
     </div>

    <div class="row" style="margin-top: 3%">
    <div class="col-lg-3">
        <label for="fechavigencia">Fecha de Vigencia</label>
        <input type="date"    class="form-control" id="fechavigencia"  name="fechavigencia" maxlength="10"  [(ngModel)]="producto.fechaVigencia" />
    </div>

    <div class="col-lg-3">
            <label for="precio">Precio</label>
            <input type="text"  class="form-control" id="precio"  name="precio" maxlength="10" [(ngModel)]="producto.precio" />
        </div>

        <div class="col-lg-3">
            <label for="stock">Stock</label>
            <input type="text"  class="form-control" id="stock"  name="stock" maxlength="40" [(ngModel)]="producto.stock" />
        </div>

        <div class="col-lg-3">
            <label for="marca">Marca</label>
            <select  id="marca" name="marca" class="form-control" [(ngModel)]="producto.marca!.idMarca">
                <option value="-1"> [Seleccione] </option>   
                <option *ngFor="let aux of marca" value="{{aux.idMarca}}">
                    {{aux.nombre}}
                </option>

            </select>
        </div>

        <div class="col-lg-3">
            <label for="pais">Pais</label>
            <select  id="pais" name="pais" class="form-control" [(ngModel)]="producto.pais!.idPais">
                <option value="-1"> [Seleccione] </option>   
                <option *ngFor="let aux of pais" value="{{aux.idPais}}">
                    {{aux.nombre}}
                </option>

            </select>
        </div>

    </div>
</div> 
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_reg_cerrar" style="width: 100px;">Close</button>
    <div class="form-group text-center">
        <div class="col-lg-12">
            <button id="id_reg_registra"  class="btn btn-success form-control"style="width: 100px;">Actualizar</button>
        </div>
    </div>
</div>

 </form>





    </div>

</div>
</div>
</div>